@use "./vars" as *;
@use "./320px/header";
@use "./320px/hero";
@use "./320px/offer";
@use "./320px/why-we";
@use "./320px/contact";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// PLACEHOLDERS

body {
  background-color: $color-bg-main;
  color: $color-text;
  font-family: $font-main;
  font-size: $font-size-base;
}
