@use "./vars" as *;
@use "./320px/header";
@use "./320px/hero";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// PLACEHOLDERS

body {
  background-color: $color-bg-main;
  color: $color-text;
  font-family: $font-main;
  font-size: $font-size-base;
}

svg,
img {
  border: 1px solid black;
}
