@use "./vars" as *;
// 320px
@use "./320px/header";
@use "./320px/hero";
@use "./320px/offer";
@use "./320px/why-we";
@use "./320px/contact";
@use "./320px/footer";
@use "./320px/modal-contact";
@use "./320px/modal-menu";
@use "./320px/realization";
// Projects
@use "./320px-projects/filter";
@use "./320px-projects/projects";

// 768px
@use "./768px/header768";
@use "./768px/hero768";
@use "./768px/offer768";
@use "./768px/why-we768";
@use "./768px/contact768";
@use "./768px/footer768";
@use "./768px/modal-contact768";
@use "./768px/realization768";

// 1080px
@use "./1080px/header1080";
@use "./1080px/hero1080";
@use "./1080px/offer1080";
@use "./1080px/footer1080";
@use "./1080px/contact1080";
@use "./1080px/why-we1080";
@use "./1080px/realization1080";
@use "./1080px-projects/projects1080";
@use "./1080px-projects/filter1080";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $color-bg-main;
  color: $color-text;
  font-family: $font-main;
  font-size: $font-size-base;
}

// PLACEHOLDERS

body {
  background-color: $color-bg-main;
  color: $color-text;
  font-family: $font-main;
  font-size: $font-size-base;
  // max-width: 1080px;
  position: relative;
}

body.modal-open {
  overflow: hidden;
}
