@use "../vars" as *;

.contact {
  align-items: center;
  color: $color-text;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  padding: 20px 0 30px 0;

  background-color: $header-bg;

  overflow: hidden;
  position: relative;

  &__wave {
    top: -1px;
    height: 30px;
    left: 0;
    line-height: 0;
    position: absolute;
    width: 100%;
    transform: scaleY(-1);

    > svg {
      display: block;
      fill: $color-bg-main;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    font-size: $font-size-lg;
    margin-bottom: $margin-m;
    letter-spacing: $spacing-xs;
    margin-top: $margin-s;

    &::before,
    &::after {
      background-color: #cbbba0;
      content: "";
      height: 1px;
      margin: 0 12px;
      width: 40px;
    }
  }

  &__button {
    background-color: $color-interactive;
    border-radius: 6px;
    border: none;
    box-shadow: $shadow-md;
    color: $color-text;
    cursor: pointer;
    font-size: $font-size-sm;
    font-weight: 600;
    letter-spacing: $spacing-md;
    padding: 7px 7px;
    text-transform: uppercase;
    transition: $transition-fast;

    &:hover {
      background-color: $color-btn-hover;
      box-shadow: $shadow-md;
      transform: translateY(-2px) scale(1.05);
    }
  }
}
