@use "../vars" as *;

.header {
  font-family: $font-heading;

  &__container {
    align-items: center;
    background-color: $header-bg;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
  }

  &__logo {
    align-items: center;
    display: flex;
    gap: $spacing-xs;
    justify-content: center;
    color: $color-text;

    &--wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    width: 50px;

    border-radius: 50%;
    border: none;

    object-fit: cover;
    transform: scale(1.1);
  }

  &__title {
    border-bottom: 1px solid $header-title-underline;
    font-size: $font-size-xl;
    padding: 0 5px 0 0;

    &-under {
      font-size: $font-size-sm;
      text-indent: 5px;
    }
  }

  &__menu--mobile {
    &-button {
      border: none;
      background: none;
      cursor: pointer;
      transition: $transition-fast;

      &:hover {
        transform: scale(1.2);
      }

      > svg {
        height: 35px;
        width: 35px;
        border: none;
        color: $color-text;
      }
    }
  }
}
