@use "../vars" as *;

.header {
  background-color: $header-bg;
  font-family: $font-heading;
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px 10px;
    z-index: 1000;
  }

  &__logo {
    align-items: center;
    color: $color-text;
    display: flex;
    gap: $spacing-xl;
    justify-content: center;

    &--wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    align-items: center;
    color: $color-text;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
  }

  &__image {
    height: 44px;
  }

  &__title {
    border-bottom: 3px solid $color-text;
    font-size: $font-size-xl;
    padding: 0 2px;

    &-under {
      font-size: $font-size-s;
      text-indent: 5px;
    }
  }

  &__menu--mobile {
    &-button {
      background: none;
      border-radius: $border-radius-lg;
      cursor: pointer;
      transition: $transition-fast;

      &:hover {
        transform: translateY(-2px) scale(1.05);
      }

      > svg {
        border: none;
        color: $color-text;
        height: 36px;
        width: 36px;
      }
    }
  }

  &__nav {
    display: none;
  }

  // &__wave {
  //   bottom: -15px;
  //   height: 30px;
  //   left: 0;
  //   line-height: 0;
  //   position: absolute;
  //   transform: rotate(180deg);
  //   width: 100%;
  //   z-index: 100;

  //   > svg {
  //     display: block;
  //     fill: $header-bg;
  //     height: 100%;
  //     width: 100%;
  //   }
  // }
}
