@use "../vars" as *;

.hero {
  align-items: center;
  display: flex;
  margin-bottom: $margin-l;
  overflow: hidden;
  position: relative;
  text-align: left;

  // &::before {
  //   content: "";
  //   inset: 0;
  //   position: absolute;
  // }

  &__container {
    background-image:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.75) 45%,
        rgba(0, 0, 0, 0.5) 65%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("/images/hero.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-text-light;
    height: 60vh;
    max-height: 500px;
    width: 100%;
    align-items: center;
    display: flex;
    text-align: left;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $margin-xs;
    height: max-content;
    justify-content: left;
    max-width: 260px;
    padding: $margin-m;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__title {
    font-size: $font-size-m;
    letter-spacing: $spacing-sm;
    line-height: 1.15;
    width: 100%;

    &--under {
      font-size: $font-size-s;
      letter-spacing: $spacing-md;
      line-height: 1.4;
      max-width: 160px;
    }

    &--mark {
      color: $color-text-mark;
    }
  }

  &__button {
    background-color: $color-accent;
    border-radius: $border-radius;
    border: none;
    box-shadow: $shadow-md;
    color: $color-text-light;
    cursor: pointer;
    font-size: $font-size-sm;
    font-weight: 600;
    letter-spacing: $spacing-md;
    margin-top: $margin-s;
    max-width: 160px;
    padding: $margin-xs;
    text-transform: uppercase;
    transition: $transition-fast;

    &:hover {
      background-color: $color-accent-hover;
      box-shadow: $shadow-md;
      transform: translateY(-2px) scale(1.05);
    }
  }

  &__wave {
    bottom: -1px;
    height: 30px;
    left: 0;
    line-height: 0;
    position: absolute;
    width: 100%;

    > svg {
      display: block;
      fill: $color-bg-main;
      height: 100%;
      width: 100%;
    }
  }
}
