@use "../vars" as *;

.offer {
  align-items: center;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  margin-bottom: $margin-xxl;

  &__container {
    padding: $margin-xxl 0 $margin-768px 0;
    width: 100%;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: $font-size-lg;
    letter-spacing: $spacing-xs;
    margin-bottom: $margin-m;
    white-space: nowrap;
    width: 100%;

    &::before,
    &::after {
      background-color: rgba($color-darkwood, 0.35);
      content: "";
      height: 1px;
      margin: 0 5px;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    &-item {
      align-items: center;
      border-bottom: 1px solid rgba($color-darkwood, 0.35);
      display: flex;
      justify-content: space-between;
      transition: $transition-fast;
      width: 100%;

      &:hover {
        box-shadow: $shadow-md;
        transform: scale(1.02);
      }
    }

    &-link {
      align-items: center;
      color: $color-primary;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 500px;
      padding: $margin-m;
      text-decoration: none;
      width: 100%;

      letter-spacing: $spacing-md;
    }

    &-wrapper {
      align-items: center;
      display: flex;
      gap: $spacing-xl;
    }

    &-svg {
      border: none;
      fill: $color-darkwood;
      gap: $spacing-xl;
      height: 44px;
      padding: 7px;
      width: 54px;
      overflow: visible;

      &--wardrobe {
        stroke: $color-darkwood;
      }

      &--background {
        background-color: rgba($color-accent, 0.1);
        border-radius: 44%;
      }
    }
  }
}
