@use "../vars" as *;

.realization {
  color: $color-primary;
  font-weight: 600;

  &__container {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: $margin-section 0 0 0;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: $font-size-lg;
    letter-spacing: $spacing-xs;
    margin-bottom: $margin-m;
    white-space: nowrap;
    width: 100%;

    &::before,
    &::after {
      background-color: rgba($color-darkwood, 0.35);
      content: "";
      height: 1px;
      margin: 0 5px;
      width: 100%;
    }
  }

  &__link {
    margin: $margin-s auto;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    border-radius: $border-radius-lg;
    overflow: hidden;
    max-width: 98%;

    &-img {
      background-color: $color-accent;
      max-width: 600px;
      max-height: 455px;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &--width {
        max-width: 570px;
      }
    }
  }
}
