@use "../vars" as *;

.realization {
  color: $color-primary;
  font-weight: 600;

  &__container {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: $margin-section 0 0 0;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: $font-size-lg;
    letter-spacing: $spacing-xs;
    margin-bottom: $margin-m;
    white-space: nowrap;
    width: 100%;

    &::before,
    &::after {
      background-color: rgba($color-darkwood, 0.35);
      content: "";
      height: 1px;
      margin: 0 5px;
      width: 100%;
    }
  }

  &__list {
    border-radius: $border-radius-lg;
    display: flex;
    list-style: none;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 10px;
    scroll-behavior: smooth;

    &--wrapper {
      position: relative;
    }

    &-item {
      flex: 0 0 33.333%;
    }

    &-img {
      background-color: $color-accent;
      max-width: 400px;
      max-height: 455px;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &--width {
        max-width: 570px;
      }
    }
  }

  &__button {
    align-items: center;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45%;
    transition: $transition-fast;

    &--right {
      right: 24px;

      &:hover {
        fill: $color-accent-hover;
        box-shadow: $shadow-md;
        transform: translateY(-2px) scale(1.05);
      }
    }

    &--left {
      left: 18px;
      transform: rotateZ(180deg);

      &:hover {
        fill: $color-accent-hover;
        box-shadow: $shadow-md;
        transform: translateY(-2px) scale(1.05) rotateZ(180deg);
      }
    }
  }

  &__arrow {
    width: 25px;
    height: 25px;
    fill: $color-accent;
  }

  &__link {
    margin-top: 30px;
    background-color: $color-accent;
    border-radius: 6px;
    border: none;
    box-shadow: $shadow-md;
    color: $color-text-light;
    font-size: $font-size-sm;
    font-weight: 600;
    letter-spacing: $spacing-md;
    padding: $margin-xs;
    text-transform: uppercase;
    transition: $transition-fast;
    text-decoration: none;

    &:hover {
      background-color: $color-accent-hover;
      box-shadow: $shadow-md;
      transform: translateY(-2px) scale(1.05);
    }
  }
}
