@use "../vars" as *;

// .filter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-top: 1px solid $color-darkwood;
//   padding-top: $margin-l;

//   &__select {
//     border: 1px solid $color-darkwood;
//     border-radius: $border-radius;
//     padding: $spacing-xl;
//     background-color: $color-interactive;
//     color: $color-text;
//     font-weight: 600;
//     text-align: center;
//     width: 160px;
//   }
// }

.categories {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
    gap:8%;
    width: 100%;
   justify-content: center;

  }

  &__button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
        font-weight: 700;
        padding: 2px;
        background-color: transparent;
        border: none;
  }

  &__icon {
    width: 50px;
    height: 50px;
    fill: $color-wood-dark;
    stroke: 50px;
  }
}
