@use "../vars" as *;

.categories {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;

  &__list {
    display: flex;
    gap: 7%;
    justify-content: center;
    list-style: none;
    width: 100%;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 2px;
    transition: $transition-fast;
    font-size: $font-size-sm;
    align-items: center;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  &__icon {
    fill: $color-wood-dark;
    height: 50px;
    stroke: 50px;
    width: 50px;

    &--wardrobe {
      stroke: $color-darkwood;
    }
  }
}
