@use "../vars" as *;

.projects {
  min-height: 70vh;
  padding: $margin-l 0;

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $margin-s;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    width: 100%;

    &-item {
      display: flex;
      justify-content: center;
      margin: 5px;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-img {
      border-radius: $border-radius;
      border: 2px solid $color-darkwood;
      display: flex;
      height: 250px;
      object-fit: cover;
      width: 275px;
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      overflow: hidden;
      transition: $transition-fast;
    }
  }
}
