<div class="footer__container">
  <a href="/" class="footer__brand">
    <span class="footer__logo">WIÓRY LECĄ</span>
  </a>

  <div class="footer__wrapper">
    <ul class="footer__contact">
      <li>
        <a href="tel:+48123456789" class="footer__contact-wrapper"
          >+48 123 456 789</a
        >
        <a href="mailto:kontakt@wioryleca.pl">kontakt@wioryleca.pl</a>
      </li>

      <li>Zielona Góra i okolice</li>
    </ul>
    <div>
      <nav class="footer__nav" aria-label="Footer navigation">
        <a href="/">Start</a>
        <a href="/projects/">Realizacje</a>
        <a href="/">Proces</a>
        <a href="#contact" data-modal-open="contact">Kontakt</a>
      </nav>

      <ul class="footer__socials">
        <li><a href="/" aria-label="Facebook">FB</a></li>
        <li><a href="/" aria-label="Instagram">IG</a></li>
      </ul>
    </div>
  </div>
  <p class="footer__copy">
    © <span id="footerCopyYear">2026</span> Wióry Lecą. Wszelkie prawa
    zastrzeżone.
  </p>
</div>
