<div class="footer__container">
  <a href="/" class="footer__brand">
    <span class="footer__logo">WIÓRY LECĄ</span>
  </a>

  <div class="footer__wrapper">
    <ul class="footer__contact">
      <li>
        <a href="tel:+48727198709" class="footer__contact-wrapper"
          >+48 727 198 709</a
        >
        <a href="mailto:kontakt@wioryleca.pl">wiory_leca@wp.pl</a>
      </li>

      <li>Bolesławiec, Wrocław, Żary i okolice</li>
    </ul>
    <div>
      <nav class="footer__nav" aria-label="Footer navigation">
        <a href="/">Start</a>
        <a href="/projects.html?category=kitchen">Realizacje</a>
        <button type="button" data-modal-open="coop">Współpraca</button>
        <button type="button" data-modal-open="about">O nas</button>
        <button type="button" data-modal-open="contact">Kontakt</button>
      </nav>

      <ul class="footer__socials">
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100057508506559"
            target="_blank"
            aria-label="Facebook"
            >FB</a
          >
        </li>
        <li><a href="/" aria-label="Instagram">IG</a></li>
      </ul>
    </div>
  </div>
  <p class="footer__copy">
    © <span id="footerCopyYear">2026</span> Wióry Lecą. Wszelkie prawa
    zastrzeżone.
  </p>
</div>
