<div class="header__container">
  <div class="header__logo">
    <a class="header__link" href="/">
      <!-- <svg width="50" height="50">
            <use href=""></use>
          </svg> -->
      <img class="header__image" src="/logos.png" alt="logo image" />
      <div class="header__logo--wrapper">
        <h2 class="header__title">ióry Lecą</h2>
        <p class="header__title-under">Meble na wymiar</p>
      </div>
    </a>
  </div>

  <div class="header__menu--mobile">
    <button
      type="button"
      aria-label="Otwórz menu"
      class="header__menu--mobile-button"
      data-modal-open="menu"
    >
      <svg>
        <use href="/icons.svg#mobileMenu"></use>
      </svg>
    </button>
  </div>
  <!-- href="../icons.svg#mobileMenu" -->
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a href="/" class="header__nav-list-link">Strona główna</a>
      </li>
      <li class="header__nav-list-item">
        <a href="/src/partials/projects.html" class="header__nav-list-link">
          Realizacje
        </a>
      </li>
      <li class="header__nav-list-item">
        <a href="/" class="header__nav-list-link">Współpraca</a>
      </li>
      <li class="header__nav-list-item">
        <a href="/" class="header__nav-list-link">O nas</a>
      </li>
      <li class="header__nav-list-item">
        <button class="header__nav-list-link" data-modal-open="contact">
          Kontakt
        </button>
      </li>
    </ul>
  </nav>
  <!-- <div class="header__wave">
    <svg viewBox="0 0 1440 120" preserveAspectRatio="none">
      <path d="M0,20 C360,50 1080,50 1440,20 L1440,120 L0,120 Z" />
    </svg>
  </div> -->
</div>
