<div class="header__container">
  <div class="header__logo">
    <a class="header__link" href="/">
      <!-- <svg width="50" height="50">
            <use href=""></use>
          </svg> -->
      <img class="header__image" src="/images/logo.png" alt="logo image" />
      <div class="header__logo--wrapper">
        <h2 class="header__title">Wióry Lecą</h2>
        <p class="header__title-under">Meble na wymiar</p>
      </div>
    </a>
  </div>

  <div class="header__menu--mobile">
    <button class="header__menu--mobile-button">
      <svg>
        <use href="../../public/icons.svg#mobileMenu" ></use>
      </svg>
    </button>
  </div>
<!-- href="../icons.svg#mobileMenu" -->
  <div class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a href="/" class="header__nav-list-link">Strona główna</a>
      </li>
      <li class="header__nav-list-item">
        <a href="/src/partials/projects.html" class="header__nav-list-link">
          Projekty
        </a>
      </li>
      <li class="header__nav-list-item">
        <a href="/" class="header__nav-list-link">Proces</a>
      </li>
      <li class="header__nav-list-item">
        <a class="header__nav-list-link" data-modal-open="contact">Kontakt</a>
      </li>
    </ul>
  </div>
</div>
