<div class="header__container">
  <div class="header__logo">
    <a class="header__link" href="/">
      <!-- <svg width="50" height="50">
            <use href=""></use>
          </svg> -->
      <!-- <img class="header__image" src="/logo.png" alt="logo image" /> -->
      <div class="header__logo--wrapper">
        <img class="header__image" src="/logo.png" alt="{{t:partial.brand.logoAlt}}" />

        <h2 class="header__title">
          <!-- <img class="header__image" src="/logos.png" alt="logo image" />ióry
          Lecą -->
        </h2>
        <p class="header__title-under">{{t:partial.brand.tagline}}</p>
      </div>
    </a>
  </div>

  <div class="header__menu--mobile">
    <button
      type="button"
      aria-label="{{t:partial.menu.open}}"
      class="header__menu--mobile-button"
      data-modal-open="menu"
    >
      <svg>
        <use href="/icons.svg#mobileMenu"></use>
      </svg>
    </button>
  </div>
  <!-- href="../icons.svg#mobileMenu" -->
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a href="/" class="header__nav-list-link">{{t:partial.nav.home}}</a>
      </li>
      <li class="header__nav-list-item">
        <a href="/projects.html?category=kitchen" class="header__nav-list-link">
          {{t:partial.nav.projects}}
        </a>
      </li>
      <li class="header__nav-list-item">
        <button
          type="button"
          class="header__nav-list-link"
          data-modal-open="coop"
        >
          {{t:partial.nav.cooperation}}
        </button>
      </li>
      <li class="header__nav-list-item">
        <button
          type="button"
          class="header__nav-list-link"
          data-modal-open="about"
        >
          {{t:partial.nav.about}}
        </button>
      </li>
      <li class="header__nav-list-item">
        <button
          class="header__nav-list-link"
          data-modal-open="contact"
          type="button"
        >
          {{t:partial.nav.contact}}
        </button>
      </li>
      <li class="header__nav-list-item header__language">
        {{languageSwitcher}}
      </li>
    </ul>
  </nav>
</div>
