<div class="modal__backdrop" id="modalContact" aria-hidden="true">
  <div
    class="modal__contact"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modalContactTitle"
  >
    <button
      class="modal__close"
      type="button"
      aria-label="{{t:partial.contact.close}}"
    >
      &times;
    </button>

    <div class="modal__header">
      <p class="modal__eyebrow">{{t:partial.nav.contact}}</p>
      <h2 class="modal__title" id="modalContactTitle">{{t:partial.contact.title}}</h2>
      <p class="modal__text">
        {{t:partial.contact.description}}
      </p>
    </div>

    <ul class="modal__details" aria-label="{{t:partial.contact.details}}">
      <li class="modal__details-item">
        <span class="modal__details-label">{{t:partial.contact.phone}}</span>
        <a class="modal__details-link" href="tel:+48727198709"
          >{{t:partial.contact.phoneValue}}</a
        >
      </li>
      <li class="modal__details-item">
        <span class="modal__details-label">{{t:partial.contact.email}}</span>
        <a class="modal__details-link" href="mailto:wiory_leca@wp.pl"
          >{{t:partial.contact.emailValue}}</a
        >
      </li>
      <li class="modal__details-item">
        <span class="modal__details-label">{{t:partial.contact.area}}</span>
        <span>{{t:partial.contact.areaValue}}</span>
      </li>
    </ul>

    <form class="modal__form" method="post" enctype="text/plain">
      <label class="modal__field">
        <span>{{t:partial.contact.nameLabel}}</span>
        <input
          id="contactName"
          class="modal__input"
          type="text"
          name="name"
          autocomplete="name"
          required
          maxlength="100"
        />
      </label>

      <label class="modal__field">
        <span>{{t:partial.contact.locationLabel}}</span>
        <input
          id="contactLocalization"
          class="modal__input"
          type="text"
          name="localization"
          autocomplete="street-address"
          required
          maxlength="100"
        />
      </label>

      <label class="modal__field">
        <span>{{t:partial.contact.contactLabel}}</span>
        <input
          id="contactContact"
          class="modal__input"
          type="text"
          name="contact"
          autocomplete="email"
          required
          maxlength="100"
        />
      </label>

      <label class="modal__field">
        <span>{{t:partial.contact.messageLabel}}</span>
        <textarea
          id="contactMessage"
          class="modal__input modal__textarea"
          name="message"
          rows="4"
          maxlength="2500"
          required
        ></textarea>
      </label>

      <label class="modal__field">
        <span>{{t:partial.contact.preferenceLabel}}</span>
        <textarea
          id="contactPreferable"
          class="modal__input"
          name="preferable"
          rows="3"
          maxlength="250"
          placeholder="{{t:partial.contact.preferencePlaceholder}}"
        ></textarea>
      </label>

      <button id="contactButton" class="modal__button" type="submit">
        {{t:partial.contact.submit}}
      </button>
    </form>
  </div>
</div>
