<div class="modal__backdrop" id="modalAbout" aria-hidden="true">
  <div
    class="modal__about"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modalAboutTitle"
  >
    <button
      class="modal__close"
      type="button"
      aria-label="Zamknij okno kontaktowe"
    >
      &times;
    </button>

    <h2>O nas</h2>
    <p>
      „Wióry lecą” to marka, która powstała z pasji do tworzenia funkcjonalnych
      i dopracowanych mebli na wymiar.
      <br />
      <br />
      Specjalizuję się w zabudowach z płyty meblowej, MDF oraz frontów
      lakierowanych — rozwiązaniach, które łączą estetykę, trwałość i codzienną
      wygodę użytkowania.
      <br />
      <br />
      Każdy projekt traktuję indywidualnie. Nie działam schematycznie ani
      „taśmowo” — od pierwszego kontaktu aż po montaż masz bezpośredni kontakt
      ze mną i pełną kontrolę nad realizacją.
      <br />
      <br />
      Stawiam na przemyślane rozwiązania, dopracowane detale i jakość, która
      sprawdza się nie tylko na zdjęciach, ale przede wszystkim w codziennym
      użytkowaniu.
      <br />
      <br />
      Moim celem jest tworzenie mebli spójnych z wnętrzem — funkcjonalnych,
      trwałych i dopasowanych do stylu życia klienta.
      <br />
      <br />
      Jeśli zależy Ci na konkretnym podejściu, dobrej komunikacji i solidnym
      wykonaniu — jesteś w dobrym miejscu. 👍
      <br />
      <br />
      Działam od 2018 roku, realizując meble na wymiar dla mieszkań i domów — od
      prostych zabudów po bardziej wymagające projekty.
      <br />
      <br />
      📍 Realizuję projekty na terenie Dolnego Śląska oraz województwa
      lubuskiego — m.in. we Wrocławiu, Bolesławcu, Żarach i Żaganiu.
    </p>
  </div>
</div>
