<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wioryleca-meblenawymiar</title>
  </head>
  <body>
    <header class="header">
      <include src="./src/partials/header.html"></include>
    </header>

    <main>
      <!-- <section class="filter"> -->
      <!-- <select class="filter__select">
          <option value="kuchnie">Kuchnia</option>
          <option value="kuchnie">Garderoba</option>
          <option value="kuchnie">Biuro</option>
        </select> -->
      <!-- </section> -->

      <section class="categories">
        <ul class="categories__list">
          <li class="categories__item">
            <button class="categories__button">
              <svg class="categories__icon">
                <use href="../../public/icons.svg#wardrobe"></use>
              </svg>
              Szafy
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__button">
              <svg class="categories__icon">
                <use href="../../public/icons.svg#wardrobe"></use>
              </svg>
              Szafy
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__button">
              <svg class="categories__icon">
                <use href="../../public/icons.svg#wardrobe"></use>
              </svg>
              Szafy
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__button">
              <svg class="categories__icon">
                <use href="../../public/icons.svg#wardrobe"></use>
              </svg>
              Szafy
            </button>
          </li>
        </ul>
      </section>

      <section class="projects">
        <ul class="projects__list">
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
          <li class="projects__list-item">
            <img
              class="projects__list-img"
              src="/images/hero.png"
              alt="Projekt mebli na wymiar"
            />
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer">
      <include src="./src/partials/footer.html"></include>
    </footer>

    <include src="./src/partials/modalContact.html"></include>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
