<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logos.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wioryleca-meblenawymiar</title>
  </head>
  <body>
    <header class="header">
      <include src="./src/partials/header.html"></include>
    </header>

    <main>
      <section class="categories">
        <div class="categories__container">
          <ul class="categories__list">
            <li class="categories__item">
              <button
                id="wardrobeButton"
                class="categories__button"
                type="button"
                data-category="wardrobe"
              >
                <svg class="categories__icon categories__icon--wardrobe">
                  <use href="/icons.svg#wardrobe"></use>
                </svg>
                Szafy
              </button>
            </li>
            <li class="categories__item">
              <button
                class="categories__button"
                type="button"
                data-category="kitchen"
              >
                <svg class="categories__icon">
                  <use href="/icons.svg#kitchen"></use>
                </svg>
                Kuchnie
              </button>
            </li>
            <li class="categories__item">
              <button
                class="categories__button"
                type="button"
                data-category="bathroom"
              >
                <svg class="categories__icon">
                  <use href="/icons.svg#bathroom"></use>
                </svg>
                Lazienki
              </button>
            </li>
            <li class="categories__item">
              <button
                class="categories__button"
                type="button"
                data-category="built-in"
              >
                <svg class="categories__icon">
                  <use href="/icons.svg#drawer"></use>
                </svg>
                Inne
              </button>
            </li>
          </ul>
        </div>
      </section>

      <section class="projects">
        <div class="projects__container">
          <ul id="projectList" class="projects__list"></ul>
          <nav
            id="projectPagination"
            class="projects__pagination"
            aria-label="Paginacja projektow"
          ></nav>
        </div>
      </section>
    </main>

    <footer class="footer">
      <include src="./src/partials/footer.html"></include>
    </footer>

    <include src="./src/partials/modalMenu.html"></include>
    <include src="./src/partials/modalContact.html"></include>

    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
