@use "../vars" as *;

@media screen and (min-width: 768px) {
  .header {
    &__menu--mobile {
      display: none;
    }

    &__nav {
      display: flex;

      &-list {
        display: flex;
        gap: $margin-m;
        list-style: none;

        &-link {
          color: $color-text;
          text-decoration: none;
          cursor: pointer;
          font-size: $font-size-m;
          background: none;
          border: none;
          font-family: $font-main;

          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}
