@use "../vars" as *;

@media screen and (min-width: 768px) {
  .hero {
    &__container {
      min-height: 70vh;

      background-image:
        linear-gradient(
          to right,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0.7) 21%,
          rgba(0, 0, 0, 0.6) 29%,
          rgba(0, 0, 0, 0.4) 38%,
          rgba(0, 0, 0, 0) 50%
        ),
        $hero;
    }

    &__wrapper {
      max-width: 400px;
    }

    &__title {
      font-size: $font-size-xl;
      letter-spacing: $spacing-lg;

      &--under {
        font-size: $font-size-m;
        max-width: 280px;
        line-height: 1.3;
      }
    }

    &__button {
      font-size: $font-size-m;
      max-width: 180px;
      padding: $spacing-xxl;
    }
  }
}
