@use "../vars" as *;

@media screen and (min-width: 768px) {
  .offer {
    &__title {
      font-size: $font-size-xl;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      font-size: $font-size-lg;
      justify-content: center;

      &-item {
        flex: 0 1 480px;
        padding: 6px 12px;
      }

      &-wrapper {
        gap: $spacing-xxl;
      }

      &-svg {
        height: 60px;
        width: 75px;
      }
    }
  }
}
