@use "../vars" as *;

@media screen and (min-width: 768px) {
  .why-we {
    margin: $margin-768px 0;
    &__title {
      font-size: $font-size-xl;
    }

    &__list {
      gap: $margin-m;

      &-item {
        width: 100%;
        padding: $margin-s;
      }

      &-svg {
        height: 55px;
        width: 55px;
      }

      &-para {
        font-size: $font-size-sm;
        padding-bottom: 3px;
        width: 100%;
      }

      &-para2 {
        font-size: $font-size-sm;
      }
    }
  }
}
