@use "../vars" as *;

@media screen and (min-width: 1080px) {
  .footer {
    background-color: $color-overlay-warm;
    &__container {
        background-color: $color-bg-dark;
      max-width: $layout-width;
      margin: 0 auto;
    }


  }
}
