@use "../vars" as *;

@media screen and (min-width: 1080px) {
  .header {
    &__title {
      font-size: $font-size-xxl;
    }
    &__container {
      max-width: 1600px;
    }

    &__nav-list {
      font-size: $font-size-xl;
    }
  }
}
