@use "../vars" as *;

@media screen and (min-width: 1080px) {
  .hero {
    background-color: $color-overlay-warm;
    &__container {
      max-width: $layout-width;
      margin: 0 auto;

      background-image:
        linear-gradient(
          to right,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0.7) 5%,
          rgba(0, 0, 0, 0.6) 21%,
          rgba(0, 0, 0, 0.45) 29%,
          rgba(0, 0, 0, 0) 41%
        ),
        $hero;
    }

    &__wrapper {
      padding: $margin-l;
      gap: $margin-s;
    }

    &__title {
      font-size: $font-size-xxl;

      &--under {
        font-size: $font-size-lg;
      }
    }
  }
}
