@use "../vars" as *;

@media screen and (min-width: 1080px) {
  .offer {
    background-color: $color-overlay-warm;

    &__title {
      margin-bottom: $margin-xxl;
    }

    &__container {
      background-color: $color-bg-main;
      max-width: 1600px;
      margin: 0 auto;
    }

    &__list {
      max-width: 1079px;
      gap: $margin-xxl;
      &-item {
        border: 1px solid rgba($color-darkwood, 0.35);
      }
    }
  }
}
